<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>EDIT INFORMATION SONG</h3>
<p>
    <a th:href="@{/}">
        Back to list SONGS
    </a>
</p>
<form th:action="@{/save}" th:object="${song}"
      method="POST" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label>Price</label>
        <input type="text" th:field="*{singer}"/>
    </div>
    <div>
        <label>Manufacture</label>
        <input type="text" th:field="*{category}"/>
    </div>
    <input type="submit" value="edit" />
</form>
</body>
</html>